<html>
<head>
<style>
    h1 {
      font-family: Vasco;
    }
</style>
</head>
<body>
<h1>
    Ola mundo!
    <br>
    Vasco da Gama

    <h1>Default barcode: qrcode</h1>
    <object type="image/barcode" style="width:260px;height:260px;" value="https://www.itau.com.br"></object>
    <h1>Select barcode type:</h1>
    <object type="image/barcode" style="height:80px;width:2000px" value="23791275052300600004806007687103192530000009990" format="CODE_39"></object>
    <h1>Encode hint</h1>

</h1>
</body>
</html>
</html>